@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.shiki {
  font-family: "Fira Code", monospace;
  font-size: 14px;
  line-height: 1.6;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}

.shiki code {
  counter-reset: step;
  counter-increment: step 0;
}

.shiki code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: rgba(115, 138, 148, 0.4);
}

.markdown-code .shiki .line::before {
  content: none !important;
  display: none !important;
}

.markdown-code .shiki .line {
  padding-left: 0 !important;
}

.markdown-code pre {
  padding: 12px !important;
  margin: 0 !important;
}
